# Build output
bin/
obj/
publish/
TestResults/
.DS_Store

# User-specific files (Visual Studio)
.vscode/
.idea/
*.user
*.suo
*.ntvs*
*.njsproj
*.pssproj
.vs/

# JetBrains Rider
*.sln.iml

# Environment variables & Config Secrets
appsettings.json
appsettings.*.json
secrets.json

# Logs & Debugging files
logs/
*.log
*.tlog
*.pyc
*.pdb

# Dependencies
packages/
node_modules/

# Runtime files
*.db
*.lock.json
project.lock.json

# NuGet
.nuget/
*.nupkg
project.assets.json
